<h1>List Items</h1>

<p *ngIf="!items"><em>Loading...</em></p>

<div>
  <div>
    <form (submit)="search()" #searchForm="ngForm">
      <input type="text" [(ngModel)]="searchModel.term" name="term" />
      <select [(ngModel)]="searchModel.status" name="status">
        <option value="">--</option>
        <option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
      </select>
      <button>Search</button>
    </form>
  </div>
  <div>
  </div>
</div>

<table class='table' *ngIf="items">
  <thead>
    <tr>
      <th (click)="sortBy('Id')" [ngClass]="{'asc': isAsc('Id'), 'desc': isDesc('Id')}">Id</th>
      <th (click)="sortBy('Name')" [ngClass]="{'asc': isAsc('Name'), 'desc': isDesc('Name')}">Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items;let i = index">
      <td><a [routerLink]="['/listItems/', item.id]">{{ item.id }}</a></td>
      <td>{{ item.name }}</td>
      <td>{{ item.statusText }}</td>
      <td>
        <div class="list-items__actions">
          <a (click)="delete(item, i)">Delete</a>
          <a *ngIf="item.status != 1" (click)="setStatus(item, 1)">Set as Pending</a>
          <a *ngIf="item.status != 2" (click)="setStatus(item, 2)">Set as Done</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div disabled="isDisabled">
  <button (click)="prev()">prev</button>
  <button (click)="next()">next</button>
</div>
