.asc::after {
  content: '\2191'
}
.desc::after {
  content: '\2193'
}

.list-items__actions
{
  display: flex;
}

.list-items__actions a {
  border-right: 1px solid #333;
  padding: 0 10px;
}

.list-items__actions a:last-child {
  border-right: 0
}
