<div class="text-center">
  <form class="form-signin" (submit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="username" [(ngModel)]="model.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" [(ngModel)]="model.password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="rememberMe" value="true" [(ngModel)]="model.rememberMe"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
